
.box{
	width: 100%;
	display: block;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 10px; 
    overflow: auto;
  	color: black;
}


.contentBox{
	margin-top: 10px;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid green;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 10px; 
    background-color: #f2f2f2;
}

.contentBoxSolution{
	margin-top: 10px;
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid green;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 10px; 
    background-color: #f2f2f2;
}

.contentBox:hover {background-color: #ddd;}
.contentBoxSolution:hover {background-color: #a7feb4;}

.tabulation{
	font-size: 25px;
	padding-left: 20px;
}

.leftBox{
	margin:10px;
	height: 40px;
	float: left;
	margin-bottom: 0px; 
  	font-size: 30px;
}

.rightBox{
	float: right; 
	height: 30px;
  	font-size: 30px;
}

/* Solution Reply */
.solution{
	color: green; 
}


/* Last Added */
.reply{
	width: 100%;
	min-height:150px; 
    border: 3px solid #80bfff;
	margin: 10px;
}

.reply-content{
	width:100%;
}

.reply-header p, .reply-footer p{
  	font-size: 15px;
  	margin:0;
}

.reply-header{
	background: #80bfff;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 30px;
	color:#fff;
    overflow: auto;
}

.reply-body{	
  	display: flex;
}

.reply-footer{
	padding:3px;
	color:#fff;
    overflow: auto;
    width: 100%;
}

.left{
	float: left;
}
.left-div{
  	padding:10px 20px;
  	width: 10%;
}

.right{
	float: right;
	padding-right: 10px;
}
.right-div{	
	flex: 1;
 	padding:10px 20px;
}

.sproblemtitle{
	font-size: 15px;
	font-weight: bold;
}

.material-icons{
	font-size:30px;
	color: #80bfff;
}
.material-icons:hover{
	cursor:pointer;
	color: red;
}

